@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;0,900;1,700;1,800&family=Roboto:ital,wght@0,500;0,700;1,500&display=swap');
@import './colors.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.container {
    width: 100%;
    margin: auto;
}

.btn {
    padding: 0.75rem 2.5rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    outline: none;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 1rem;
    background-color: transparent;
    width: 100%;
}

.btn-primary {
    background-color: var(--secondary-color);
    color: #fff;
}

.btn-primary:hover {
    background-color: var(--primary-color);
}

.line {
    background-color: var(--secondary-color);
    width: 100%;
    height: 5px;
}

/* Topnav css start */
#top-nav {
   border: 1px solid #707070;
   display: none;
}

#top-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.flex {
    display: flex;
}

.time {
    font-size: 12px;
    align-items: center;
}

.time p {
    color: var(--text-color);
    margin-left: 0.5rem;
}

.social-link {
    color: var(--primary-color);
    margin-left: 0.2rem;
    margin-right: 0.5rem;
}

/* topnav css ends */

/* nav css start */
#navbar .container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.navbar-toggler {
    background-color: transparent;
    font-size: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    align-items: center;
    margin: 1rem 2rem;
    color: var(--primary-color);
}

.navbar-nav {
    display: none;
    list-style: none;
    align-items: center;
}

.navbar-icon {
    margin-left: 1rem;
}

.nav-link {
    color: var(--title-color);
    text-decoration: none;
    margin-left: 2rem;
}

.nav-link:hover  {
    color: var(--primary-color);
}
/* nav css ends */

/* showcase css start */
#showcase {
    background: #dedede;
    min-height: 50vh;
}

#showcase .container {
    display: flex;
    justify-content: space-between;
}

#showcase .container img {
    height: 500px;
    display: none;
    margin-top: 3rem;
}

.content {
    align-self: center;
    padding: 5rem;
}

.text {
    margin-bottom: 3rem;
    color: var(--text-color);
}

.text h1 {
    font-size: 1.7rem;
    letter-spacing: 0.1em;
    font-weight: 300;
    margin-bottom: 1rem;
}

.text p {
    font-size: 1.1rem;
    font-weight: 500;
}
/* showcase css end */

/* about start */
#about {
    margin-top: 4rem;
    min-height: 50vh;
}

#about .container {
    display: flex;
    justify-content: space-between;
}

#about .container img {
    height: 500px;
    display: none;
    margin-top: 3rem;
}

.information {
    align-self: center;
    padding: 3rem;
}

.info {
    margin-bottom: 3rem;
    color: var(--text-color);
}


.info h2 {
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    font-weight: 300;
    margin-bottom: 1rem;
}

.info p {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 2rem;
}

.information .flex {
    justify-content: space-between;
}

.numbers {
    padding: 1rem;
}

.numbers h3 {
    color: var(--primary-color);
    font-size: 1rem;
}
/* about css end */

/* services css start */
#services {
    background: #dedede;
    min-height: 50vh;
} 




/* media 768px start */
@media (min-width: 768px) {

    .container {
        width: 80%;
    }

    #top-nav {
        display: block;
    }

    .navbar-icon {
        margin: 0;
    }

    .navbar-nav {
        display: flex;
    }

    .navbar-toggler {
        display: none;
    }

    .btn {
        width: auto;
    }
}
/* media 768px end */

/* media 992px start */
@media (min-width: 992px){
    #showcase .container img {
        display: inline-block;
        height: 600px;
    }

    .content {
        width: 65%;
        height: auto;
        text-align: left;
    }

    #about .container img {
        height: 600px;
    }

    .information {
        width: 100%;
    }

    .numbers h3 {
        font-size: 1.8rem;
    }

}
/* media 992px end */

/* media 1200px start */
@media (min-width: 1200px){
    .text h1 {
        font-size: 2.8rem;
    }

    .info h2 {
        font-size: 1.9rem;
    }

    #about .container img {
        display: inline-block;
    }

    .information {
        width: 65%;
        height: auto;
        text-align: left;
    }


} 
/* media 1200px end*/